.about_section {
    margin: 1.5rem 0 3rem 0;

    &::after {
        top: 1.4rem;
        bottom: 0.4rem;
        left: 0;
    }
}

.content {
    display: grid;
    color: var(--stringColor);
}

.content p {
    display: inline-block;
    width: fit-content;
    z-index: 2;
    user-drag: none;
}

.content p>a {
    color: var(--keywordColor);
    text-decoration-line: underline;
}



.content p:nth-child(2) {
    display: inline-block;
}

.slashes {
    color: var(--commentColor);
}


@media only screen and (max-width: 600px) {
    .about_section {
        margin: 1.5rem 0 1.5rem 0;
    }

}