* {
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}


:root {
  /***** Main Colors: *****/
  --textColor: #D4D4D4;
  --commentColor: #4a9741;
  --pageBackgroung: #1f1f1f;
  --selectionBackground: #264F78;
  --keywordColor: #569CD6;
  --varColor: #8fcdef;
  --stringColor: #CE9178;
  --lineNumbersColor: #858585;
  --numberColor: #B5CEA8;
  --logoNameColor: #f9d81b;
  /* --functionColor: #dcdcaa; */
  --functionColor: #d8dcab;
  --navLinksColor: #cd7cc9;

  /***** Main Font: *****/
  /* font-family: "Consolas", monospace; */
  font-family: monospace, consolas;
  font-size: 0.97rem;
  line-height: 1.5rem;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;

}


body {
  background-color: var(--pageBackgroung);
  margin: 0 10rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: text;
  overflow-x: hidden;
}


body *::selection {
  background-color: var(--selectionBackground);
}


/**************************************************************/




/**************************************************************/


/* section,
nav {
  position: relative;
  margin: 1.5rem 0 1.5rem 0;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border-right: 1px solid #5e5e5e;
  }

  div,
  h1,
  span,
  section,
  li,
  p {

    &::before {
      display: inline-block;
      content: "";
      width: 1em;
    }
  }
} */


section,
nav {
  position: relative;
  margin: 3rem 0 3rem 0;
  border: solid #5e5e5e;
  border-width: 0 0 0 1px;
  padding-left: 1.5rem;
  scroll-snap-align: start;
  scroll-margin: 20px;
}

header {
  scroll-snap-align: start;
  scroll-margin: 40px;
}

section:focus-within,
nav:focus-within {
  border: solid #b7b7b7;
  border-width: 0 0 0 1px;
}

#lines {
  z-index: 1;
  height: 100vh;
  width: 100vw;
  position: absolute;
  display: grid;
  align-content: baseline;
  grid-template-rows: repeat(auto-fill, 1.5rem);

  /* padding: 1rem 1.3rem; */
  counter-reset: line;
  text-align: left !important;

  &::after {
    content: none;
    position: absolute;
    border-right: 1px solid #5e5e5e;
  }


  p {
    /* height: 1.5rem; */
    width: 100%;
    counter-increment: line;
    /* padding-left: 35px; */

    &::before {
      display: flex;
      flex-direction: column;
      /* font-size: 0.9rem; */
      content: counter(line);
      /* width: 0.5vw; */
      margin-left: -5rem;
      margin-right: 5rem;
      color: #a0a0a0;
      width: 2em;
      text-align: right;
    }
  }
}

#lines p:focus-within {
  border: solid #303030;
  border-width: 2px 0 2px 2px;
  margin: -1px;

  &::before {
    color: #fff;

  }
}

[contenteditable] {
  outline: 0px solid transparent;
  caret-color: #fff;
}


/************************************ responsive *************************/

@media only screen and (max-width: 600px) {

  *:focus {
    outline: none;
  }

  body {
    margin: 0 1.5rem 0 3rem;

  }

  section,
  nav {
    margin: 1.5rem 0 1.5rem 0;
  }


  #lines {
    z-index: 1;
    height: 100vh;
    width: 88vw;
    position: absolute;
    display: grid;
    align-content: baseline;
    grid-template-rows: repeat(auto-fill, 1.5rem);

    /* padding: 1rem 1.3rem; */
    counter-reset: line;
    text-align: left !important;

    &::after {
      content: none;
      position: absolute;
      border-right: 1px solid #5e5e5e;
    }


    p {
      /* height: 1.5rem; */
      width: 100%;
      counter-increment: line;
      /* padding-left: 35px; */

      &::before {
        display: flex;
        flex-direction: column;
        /* font-size: 0.9rem; */
        content: counter(line);
        /* width: 0.5vw; */
        margin-left: -3rem;
        margin-right: 3rem;
        color: #a0a0a0;
        width: 2em;
        text-align: right;
      }
    }
  }
}